{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mau Makan Apa¿</title>
    <link rel="icon" type="image/x-icon" href="/static/imgs/3dsadExo.ico">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>

<body>
    <header>
        <div class="icons">
            <div class="logo-icon">
                <a href="{{ t.index }}"><img src="{% static 'imgs/logolabirhin.png' %}" alt=""></a>
            </div>
            <div class="dropdown">
                <img src="{% static 'svg/dropdown.svg' %}" alt="Menu">
                <div class="dropdown-content">
                    <a href="{{ t.selector }}">webcomics</a>
                    <a href="https://shop.labirhin.com">merch</a>
                    <a href="https://labirhin.com">labirhin</a>
                    <a href="{{ t.about }}">about</a>
                    <a href="">---------------------</a>
                    <a href="/english/about">english</a>
                    <a href="/indonesian/about">indonesian</a>
                    <a href="/spanish/about">spanish</a>
                    <a href="/portuguese/about">portuguese</a>
                </div>
            </div>
        </div>
        </div>
        <div class="logos">
            <a href="{{ t.index }}">
                <img src="{% static 'imgs/logolabirhin.png' %}" alt="">
            </a>
            <a href="{{ t.index }}">
                <img src="{% static 'imgs/markiplier.png' %}" alt="">
            </a>
        </div>
        <nav>
            <a href="{{ t.selector }}">webcomics</a>
            <a href="https://shop.labirhin.com">merch</a>
            <a href="https://labirhin.com">labirhin</a>
            <a href="{{ t.about }}">about</a>
            <div class="dropdown">
                <img src="{% static 'svg/dropdown.svg' %}" onclick="showList(this)" alt="">
                <div class="dropdown-content">
                    <a href="/english/about">english</a>
                    <a href="/indonesian/about">indonesian</a>
                    <a href="/spanish/about">spanish</a>
                    <a href="/portuguese/about">portuguese</a>
                </div>
            </div>
        </nav>
    </header>
    <section id="aboutsec">
        <h1>{{ t.abouth1 }}</h1>
        <div class="sectext">
            <h2>{{ t.about1|safe }}</h2>
            <h2>{{ t.about2|safe }}</h2>
            <h2>{{ t.about3|safe }}</h2>
            <h2>{{ t.about4|safe }}</h2>
            <h2>{{ t.about5|safe }}</h2>
        </div>
    </section>
    <footer>
        <div class="footerstuff">
            <h1>{{ t.owned_by }}</h1>
            <img src="{% static 'imgs/markiplier.png' %}" alt="">
            <h2>{{ t.assets|safe }}</h2>
            <h2>{{ t.made_with }} <a href="https://discord.com/users/1494322472646873280">laurah</a></h2>
        </div>
    </footer>
</body>
<script>
    function showList(imgElement) {
        const content = imgElement.nextElementSibling;
        content.classList.toggle("show")
    }
    document.addEventListener("click", function (e) {
    document.querySelectorAll(".dropdown-content.show").forEach(function (dropdown) {
        const parentDropdown = dropdown.closest(".dropdown");
        if (parentDropdown && !parentDropdown.contains(e.target)) {
            dropdown.classList.remove("show");
        }
    });
});
</script>

</html>